<div>
  <form action='/add-bookmark' method='POST'>
    <input type="text" name="new_bookmark">
    <input type="submit" value="Submit">
  </form>
</div>
<div>
  <ul>
    <% @bookmark_1.each do |bookmark| %>
      <li><%= bookmark %></li>
    <% end %>
  </ul>
</div>